.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bold;
  color: rgb(234, 149, 13);
  margin-bottom: 50px; 
  margin-top: 50px;
  text-align: center;
}

.project-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgb(17, 2, 27);
  border-radius: 5px;
  background-color: #c5d8e6;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
  margin: 8px;
  max-width: 300px;
  width: 90%;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px #aaa;
}
